<!DOCTYPE html>
<html>
     <head>
          <title>Dashboard</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.2/src/chart.min.js"></script> 
          <link rel="stylesheet" type="text/css" href="home/saumya/Desktop/dashboard/stylesheets/app.css">
     </head>


     <body>
          <header>
               <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                  <a class="navbar-brand" href="#">Dashboard</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Manage Test<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Students</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link" href="#">Analytics</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link" href="#">Question Bank</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link" href="#">Design</a>
                      </li>
                      
                    </ul>
                   
                  </div>
               </nav>  
          </header>
          <div>awsedrftgyhujikolguigigiu</div>
<div class="container" style="margin-top:5%">
          <main role="main">

     <div class="container marketing">
          <div class="row"> 
               <div class="col-lg-4">  
                    <img class="rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h2>Total Test</h2>
                    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
               </div>

               <div class="col-lg-4">  
                    <img class="rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h2>Total Students</h2>
                    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
               </div>

               <div class="col-lg-4">  
                    <img class="rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h2>Total Profit</h2>
                    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
               </div>
          </div>  
     </div>

     <div class="container marketing" style="margin-top: 5%">
          <div class="row">
               <div class="col-lg-12">
                    <img class="rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="900" height="30">
                    <h2 style="text-align: left;">Select Exams</h2>
               </div>
          </div>  
     </div>




      <div class="container marketing" style="margin-top: 5%">

        
        <div class="row">
          <div class="col-sm-2 col-sm-offset-1">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>UPSC</h2> 
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>

          <div class="col-sm-2">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>MPPSC</h2>  
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>

          <div class="col-sm-2">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Bank</h2> 
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>

          <div class="col-sm-2">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Law</h2>  
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>

          <div class="col-sm-2">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>CLAT</h2>  
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>

        </div><!-- /.row -->

      </div><!-- /.container -->


      <div class="container marketing" style="margin-top: 5%">
          <div class="row"> 
               <div class="col-lg-6">  
                    <img class="rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="400" height="400">
                    <h2>Your Plan Details</h2>
                    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
               </div>

               <div class="col-lg-6">  
                    <img class="rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="400" height="400">
                    <h2>Recent Purchases</h2>
                    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
               </div>
          </div>  
     </div>


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
    </main>  
</div>
     </body>

</html>                   


